@page "/Orders";

<a href="@("/Orders/Create")" class="btn btn-primary m-1" style="position:absolute; right:10px;">Create Order</a>
<h3>Order List</h3>

@if(orders is null)
{
    <div class="spinner"></div>
}
else
{
    //Search By Id
    <div class="form-check">
        <input name="searchChoice" type="radio" checked="@(_searchOption.Equals("Search By Id"))" @onchange="@(() => _searchOption = "Search By Id")" />
        <label class="form-check-label">Search By Id</label>

        <div hidden="@(!_searchOption.Equals("Search By Id"))" class="form-check">
            <input type="text" placeholder="Enter Id" @bind-value="_orderId" />
            <button class="btn btn-primary" @onclick="SearchById">Search</button><br />

            @if (_showSearchByIdLabel)
            {
                <label class="form-check" style="color:red">@_searchByIdErrorMessage</label>
            }
        </div>
    </div>

    //Search By Customer Id
    <div class="form-check">
        <input name="searchChoice" type="radio" checked="@(_searchOption.Equals("Search By Customer"))" @onchange="@(() => _searchOption = "Search By Customer")" />
        <label class="form-check-label">Search By Customer</label>

        <div hidden="@(!_searchOption.Equals("Search By Customer"))" class="form-check">
            <input type="text" placeholder="Enter Customer Id" @bind-value="_customerIdA" />
            <button class="btn btn-primary" @onclick="SearchByCustomerId">Search</button><br />

            @if (_showSearchByCustomerLabel)
            {
                <label class="form-check" style="color:red">@_searchByCustomerErrorMessage</label>
            }
        </div>
    </div>

    //Search By Customer and Employee
    <div class="form-check">
        <input name="searchChoice" type="radio" checked="@(_searchOption.Equals("Search By Customer And Employee"))" @onchange="@(() => _searchOption = "Search By Customer And Employee")" />
        <label class="form-check-label">Search By Customer And Employee</label>

        <div hidden="@(!_searchOption.Equals("Search By Customer And Employee"))" class="form-check">
            <input type="text" placeholder="Enter Customer Id" @bind-value="_customerIdB" /><br/>
            <input type="text" placeholder="Enter Employee Id" @bind-value="_employeeId" />
            <button class="btn btn-primary" @onclick="SearchByCustomerAndEmployee">Search</button><br />

            @if (_showSearchByCustomerAndEmployeeLabel)
            {
                <label class="form-check" style="color:red">@_searchByCustomerAndEmployeeErrorMessage</label>
            }
        </div>

    </div>
    
    @foreach(OrderDTO order in orders)
    {
        <div class="card m-3" style="min-width: 18rem; max-width:45.5%;">
            <DisplayEntity Entity="order" EntityType="typeof(OrderDTO)" DeleteEntity="DeleteOrder"/>
        </div>
    }

    @if(_showGetAllOrdersBtn)
    {
        <button class="btn btn-primary" @onclick="GetAllOrders">Get All Orders</button>
    }

}