@page "/Customers"

<a href="@("/Customers/Create")" class="btn btn-primary m-1" style="position:absolute; right:10px;">Create Customer</a>
<h3>Customer List</h3>

@if (customers is null)
{
    <div class="spinner"></div>
}
else
{
    <div class="form-check">
        <input name="searchChoice" type="radio" checked="@(searchById == true)" @onchange="@(() => searchById = !searchById)"/>
        <label class="form-check-label">Search By Id</label>

        <div hidden="@(!searchById)" class="form-check">
            <input type="text" placeholder="Enter Id" @bind-value="_customerId"/>
            <button class="btn btn-primary" @onclick="SearchById">Search</button><br/>

            @if (_showSearchByIdLabel)
            {
                <label class="form-check" style="color:red">No Customer match this id</label>
            }
        </div>

    </div>

    <div class="form-check">
        <input name="searchChoice" type="radio" checked="@(searchById == false)" @onchange="@(() => searchById = !searchById)" />
        <label class="form-check-label">Search By Company Name</label>

        <div hidden="@(searchById)" class="form-check">
            <input type="text" placeholder="Enter Company Name" @bind-value="_companyName" />
            <button class="btn btn-primary" @onclick="SearchByCompanyName">Search</button><br/>
            
            @if(_showSearchByCompanyNameLabel)
            {
                <label class="form-check" style="color:red">No Customer match this criteria</label>
            }
            
        </div>

    </div>

    @foreach (CustomerDTO customer in customers)
    {
        <div class="card m-3" style="min-width: 18rem; max-width:45.5%;">
            <DisplayEntity Entity="customer" EntityType="typeof(CustomerDTO)" DeleteEntity="DeleteCustomer" />
            <a href="@($"Customers/Update/{customer.CustomerID}")" class="btn btn-primary m-1">Edit</a>
        </div>
    }

    @if(_showGetAllCustomersBtn)
    {
        <button class ="btn btn-primary" @onclick="GetAllCustomers"> Get All Customers</button>
    }
}



